@import "utils";
@import "fonts";
@import "typography";

html,
body,
section,
input,
label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
input {
  font-family: "Ubuntu Mono", monospace;
  font-size: 18px;
}

body {
  background: $c-gray;
}

input {
  margin-bottom: 20px;
  padding-left: 3px;
}

.label {
  display: inline-block;
  width: 40px;
}

.slider {
  padding: 20px;
  
  &__wrapper {
    background-color: cornflowerblue;
    height: 50px;
    display: flex;
    align-items: center;
  }

  &__ruler {
    width: 100%;
    height: 20px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    position: relative;

    background-color: rgb(58, 58, 88);
    border: 1px solid #00ffa1;
    border-radius: 5px;
  }

  &__ruler:hover {
    cursor: pointer;
  }

  &__fill {
    width: 0%;
    height: 20px;
    position: absolute;

    background-color: cyan;
  }

  &__thumb {
    width: 25px;
    height: 30px;
    position: absolute;
    left: 0%;
    transform: translateX(-50%);

    background-color: #1aabcf;
    border: 1px solid #00ffa1;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
  }
  
  &__tooltip {
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translateX(-50%);
    top: -32px;

    visibility: hidden;
    transition: left ease 0.05s;
  }
}
